{% extends 'base.html' %}

{% block title %}
    <title>Menu | Examus Restaurant</title>
{% endblock %}

{% block script %}
    <script>
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([.$?*|{}()\[\]\\\/+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        function add(elem) {
            const id = elem.dataset.itemId;
            const csrf = getCookie('csrftoken');
            const data = {'item_id': id};
            const url = '/add/'

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrf
                },
                credentials: 'same-origin',
                body: JSON.stringify(data)
            }).then((response) => {
                return response.json();
            }).then((data) => {
                const qty = data['qty'];
                elem.innerText = `Qty: ${qty} | Add`;
            })
        }
    </script>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <span class="h2">Menu</span>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            {% for obj in object_list %}
                <span class="h4">{{ obj.name }}</span>
                {% for item in obj.menu_items.all %}
                    <div class="media border rounded text-left p-1 mt-2">
                        <img src="{{ item.image.url }}" width="100" class="mr-3" alt="{{ item.name }}">
                        <div class="media-body">
                            <span class="h5">{{ item.name }}</span>
                            <button type="button" class="btn btn-info btn-sm ml-2" onclick="add(this)" data-item-id="{{ item.id }}">Qty: 0 | Add</button>
                            <div>{{ item.calories }} Cal</div>
                            <div>{{ item.price }} &#8381</div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <div>
                <form action="{% url 'quote' %}" method="post" class="mt-2">
                    {% csrf_token %}
                    <label for="quote" class="sr-only">Get quote</label>
                    <button id="quote" class="btn btn-success">Get quote</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}